body {
  background-image: url('https://vignette.wikia.nocookie.net/rickandmorty/images/9/98/S2e3_mount_morty_and_summer.png/revision/latest?cb=20160923231412');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}